h1 {
  text-align: center;
  color: dodgerblue;
  margin-top: 20px;
}
.edit-btn {
  padding: 0;
  background: none;
  border: none;
  width: 10%;
  height: fit-content;
}
.delete-btn {
  padding: 0;
  background: none;
  border: none;
  width: 10%;
  height: fit-content;
  color: hsl(195, 85%, 41%);
}
.btn-wrap {
  display: flex;
  justify-content: end;
}
.fa {
    font-size: 25px;
}
.edit-title,
.add-title {
  text-align: center;
}
.edit-form,
.add-form {
  width: 50%;
  margin: 0 auto;
}
.home-add-btn {
  width: 10%;
  height: fit-content;
}
